.admin-wrapper {
  display: flex;
  background-color: var(--body-bg);
  padding: 0 100px;
  min-height: 100vh;

  .sidebar {
    flex: 1;
  }

  .bills {
    padding: 20px 20px 20px 20px;
    flex: 5;
    background: #0b0c28;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bill-top {
      display: flex;
      justify-content: space-between;
      .item {
        padding: 10px;
        width: 22%;
        border-radius: 5px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item-left {
          h6 {
            font-size: 14px;
          }
          h2 {
            font-size: 28px;
          }
        }

        .item-right {
          font-size: 2rem;
        }
      }
      .item:nth-child(1) {
        background: var(--card-01-bg);
      }
      .item:nth-child(2) {
        background: var(--card-02-bg);
      }
      .item:nth-child(3) {
        background-color: var(--card-03-bg);
      }
      .item:nth-child(4) {
        background-color: var(--card-04-bg);
      }
    }
    .billList {
      .table {
        color: white;
        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
        }

        thead {
          tr {
            th {
              .text {
                font-size: 14px;
              }
            }
          }
        }

        .box-body {
          max-height: 600px;
          overflow-y: auto;
        }

        tbody {
          span {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
