.admin-wrapper {
  display: flex;
  background-color: var(--body-bg);
  padding: 0 120px;
  min-height: 100vh;

  .sidebar {
    flex: 1;
  }

  .dashBoard {
    padding: 20px 20px 20px 20px;
    flex: 4;
    background: #0b0c28;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .overview {
      display: flex;
      justify-content: space-between;
      .item {
        padding: 10px;
        width: 22%;
        border-radius: 5px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item-left {
          h6 {
            font-size: 14px;
          }
          h2 {
            font-size: 28px;
          }
        }

        .item-right {
          font-size: 2rem;
        }
      }
      .item:nth-child(1) {
        background: var(--card-01-bg);
      }
      .item:nth-child(2) {
        background: var(--card-02-bg);
      }
      .item:nth-child(3) {
        background-color: var(--card-03-bg);
      }
      .item:nth-child(4) {
        background-color: var(--card-04-bg);
      }
    }

    .best-box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .best-sell {
        background-color: #e3ebf1;
        color: #0b0c28;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 48%;

        .box-image {
          display: flex;
          justify-content: center;

          .image {
            height: 300px;
            width: 200px;
            object-fit: contain;
          }
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
