.common__section {
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
    url("../../assets/images/common-section.jpg") no-repeat center center;

  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  h1 {
    font-weight: 500;
    color: #fff;
  }
}

@media screen and (max-width: 678px) {
  .common__section {
    padding: 60px 0;
    h1 {
      font-size: 1.4rem;
    }
  }
}
